.LeaderBoardCss {
  position: relative;
  margin-top: 80px;
}
.LeaderBoardCss .LeaderBoardHead {
  padding: 50px 20px;
}
.LeaderBoardCss .LeaderBoardHead small {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    max-width: 140px;
    border: 1px solid var(--theme-toggle-border);
    background: var(--theme-toggle-bg);
    color: var(--theme-toggle-color);
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}
.LeaderBoardCss .LeaderBoardHead h1 {
    font-size: 28px;
    font-weight: 800;
    margin: 20px 0px;
    letter-spacing: 1px;
}
.LeaderBoardCss .LeaderBoardHead h1 span {
    color: #00C07A;
}
.LeaderBoardCss .LeaderBoardHead p {
    font-size: 14px;
    width: 100%;
    line-height: 30px;
    max-width: 700px;
}
.LeaderBoardCss .FiltersRankedTopper ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0;
}
.LeaderBoardCss .FiltersRankedTopper ul li {
  width: calc(100% / 3 - 25px);
  border-radius:18px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,.35);
  overflow: hidden;
}
.LeaderBoardCss .FiltersRankedTopper ul li:nth-of-type(1){
  background:linear-gradient(135deg,#3b82f6,#2563eb);
}
.LeaderBoardCss .FiltersRankedTopper ul li:nth-of-type(2){
  background:linear-gradient(135deg,#f59e0b,#ffb703);
}
.LeaderBoardCss .FiltersRankedTopper ul li:nth-of-type(3){
  background:linear-gradient(135deg,#10b981,#059669);
}
.LeaderBoardCss .FiltersRankedTopper ul li .UserRankTop {
  padding: 30px;
  display: block;
}
.LeaderBoardCss .FiltersRankedTopper ul li .UserRankTop abbr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background-color: #fff;
  color: #2563eb;
  font-weight: 700;
  font-size: 16px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0px 1px 5px #666;
}
.LeaderBoardCss .FiltersRankedTopper ul li .UserRankTop h3 {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
}
.LeaderBoardCss .FiltersRankedTopper ul li .UserRankTop p {
  font-size: 14px;
  font-weight: 700;
  color: #030061;
  margin: 0;
}
.LeaderBoardCss .FiltersRankedTopper ul li .UserRanked {
  padding: 8px;
  display: block;
  background:#ffffff15;
  backdrop-filter:blur(10px);
  font-size: 18px;
}
.LeaderBoardCss .FiltersRankedTopper ul li .UserRanked b {
  display: block;
  margin-top: 7px;
  font-size: 14px;
}
.LeaderBoardCss .tableWrapper {
    margin-top:60px;
    background:#0f172a;
    border-radius:20px;
    overflow:hidden;
    border:1px solid #1e293b;
}
.LeaderBoardCss .tableWrapper .tableHeader{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 25px;
    border-bottom:1px solid #1e293b;
}

.LeaderBoardCss .tableWrapper .tableHeader h2{
    font-size:22px;
    color: #fff;
}

 .LeaderBoardCss .tableWrapper .tableHeader select{
    background:#111827;
    color:#fff;
    border:none;
    padding:10px 15px;
    border-radius:10px;
}

.LeaderBoardCss .tableWrapper table{
    width:100%;
    border-collapse:collapse;
}

.LeaderBoardCss .tableWrapper table thead{
    background:#111827;
}

.LeaderBoardCss .tableWrapper table th{
    padding:18px;
    font-size:14px;
    color:#9ca3af;
    text-align:left;
}

.LeaderBoardCss .tableWrapper table td{
    padding:18px;
    border-top:1px solid #1e293b;
    color: #fff ;
}

.LeaderBoardCss .tableWrapper .playerInfo{
    display:flex;
    align-items:center;
    gap:12px;
}

.LeaderBoardCss .tableWrapper .playerInfo img{
    width:42px;
    height:42px;
    border-radius:50%;
}

.LeaderBoardCss .tableWrapper .green{
    color:#00ff9d;
    font-weight:600;
}

.LeaderBoardCss .tableWrapper .badge{
    background:#00ff9d20;
    color:#00ff9d;
    padding:6px 12px;
    border-radius:30px;
    font-size:13px;
    display:inline-block;
}







@media(max-width:1199.9px){
  .LeaderBoardCss .quickActions ul.quickActionsBoxes li {
    width: calc(100% / 3 - 20px);
  }
}
@media(max-width:991.9px){

  .LeaderBoardCss .FiltersRankedTopper ul li {
    width: calc(100% / 2 - 20px);
  }
  .LeaderBoardCss .tableWrapper{
        overflow-x:auto;
    }

  .LeaderBoardCss .tableWrapper table{
        min-width:800px;
    }
  

}

@media(max-width:767.9px){
  .LeaderBoardCss .premiumFeatures .premiumFeaturesContent {
    width: 100%;
  }
  .LeaderBoardCss .quickActions ul.quickActionsBoxes li {
    width: calc(100% / 2 - 20px);
  }
}
@media(max-width:575.9px){

  
}
@media(max-width:450.9px){
  .LeaderBoardCss .FiltersRankedTopper ul li {
    width: 100%;
  }

}