.LeaderBoardCss {
  position: relative;
  margin-top: 80px;
}
.LeaderBoardCss .welcomecard{
      margin-top:80px;
      background:linear-gradient(90deg,#4338f2,#ff3ec9);
      border-radius:35px;
      padding:60px;
      position:relative;
      overflow:hidden;
    }
.LeaderBoardCss .welcomecard::before{
      content:'';
      position:absolute;
      width:350px;
      height:350px;
      border-radius:50%;
      background:rgba(255,255,255,0.12);
      top:-100px;
      right:30px;
    }
.LeaderBoardCss .welcomecard::after{
      content:'';
      position:absolute;
      width:250px;
      height:250px;
      border-radius:50%;
      background:rgba(255,255,255,0.08);
      bottom:-80px;
      right:180px;
    }
.LeaderBoardCss .welcomecard .welcomecardTop{
      display:flex;
      align-items:center;
      gap:25px;
      margin-bottom:50px;
    }
.LeaderBoardCss .welcomecard .welcomecardTop span{
      width:70px;
      height:70px;
      border-radius:50%;
      border: 3px solid #ffffff66;
      display:flex;
      align-items:center;
      justify-content:center;
      color:#fff;
      font-size:30px;
      font-weight:600;
      background-color: #ffffff2b;
    }
.LeaderBoardCss .welcomecard .welcomecardTop .UserName {
    width: calc(100% - 75px);
    display: flex;
    flex-direction: column;
}
.LeaderBoardCss .welcomecard .welcomecardTop .UserName h2{
    color:#fff;
    font-size:28px;
    font-weight: 700;
    margin-bottom:3px;
}
.LeaderBoardCss .welcomecard .welcomecardTop .UserName p{
      color:#fff;
      opacity:0.9;
      font-size:15px;
      margin: 0;
      letter-spacing: 0.5px;
    }
.LeaderBoardCss .welcomecard ul.userStatusBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}
.LeaderBoardCss .welcomecard ul.userStatusBoard li {
    width: calc(100% /3 - 20px);
    border:2px solid #ffffff66;
    border-radius:16px;
    padding:20px;
    color:#fff;
    background-color: #ffffff2b;
}
.LeaderBoardCss .welcomecard ul.userStatusBoard li strong {
    display: block;
    font-size: 18px;
}
.LeaderBoardCss .welcomecard ul.userStatusBoard li small {
    display: block ;
    font-size: 14px;
}
.LeaderBoardCss .premiumFeatures {
      margin-top:60px;
      background:linear-gradient(90deg,#ff9838,#ff4f09);
      border-radius:25px;
      padding:45px 50px;
      display:flex;
      align-items:center;
      justify-content:space-between;
      flex-wrap: wrap;
    }
.LeaderBoardCss .premiumFeatures .premiumFeaturesContent {
      width: calc(100% - 200px);
    }
.LeaderBoardCss .premiumFeatures .premiumFeaturesContent h2{
      color:#fff;
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 3px;
      border-bottom: 1px solid #fff;
      width:fit-content;
}
.LeaderBoardCss .premiumFeatures .premiumFeaturesContent p{
      color:#fff;
      font-size:14px;
      letter-spacing: 0.5px;
    }
.LeaderBoardCss .premiumFeatures a {
    background:#fff;
    color:#ff5a00;
    padding:10px 20px;
    border-radius:10px;
    font-size:16px;
    font-weight:700;
    width: 100%;
    max-width: 180px;
}
.LeaderBoardCss .premiumFeatures a i {
    margin-right: 10px;
}
.LeaderBoardCss .quickActions{
      margin-top:50px;
    }
.LeaderBoardCss .quickActions h2 {
      font-size:28px;
      font-weight:700;
      color:#651fff;
      position:relative;
      width:fit-content;
}
.LeaderBoardCss .quickActions h2::after{
      content:'';
      width:100%;
      height:5px;
      border-radius:10px;
      background:linear-gradient(to right,#651fff,#ff1744);
      position:absolute;
      left:30px;
      bottom:-12px;
}
.LeaderBoardCss .quickActions ul.quickActionsBoxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 55px;
  padding: 0px;
}
.LeaderBoardCss .quickActions ul.quickActionsBoxes li {
      width: calc(100% / 5 - 20px);
      background:#fff;
      border-radius:28px;
      padding:35px 20px 30px;
      text-align:center;
      border:3px solid #c55cff;
      box-shadow:0 12px 25px rgba(0,0,0,0.08);
      transition:0.4s;
      &:hover {
        transform:translateY(-8px);
      }
}
.LeaderBoardCss .quickActions ul.quickActionsBoxes li small{
      width:70px;
      height:70px;
      background:#1338ff;
      margin:auto;
      border-radius:15px;
      display:flex;
      align-items:center;
      justify-content:center;
      color:#fff;
      font-size:30px;
      margin-bottom:25px;
    }
.LeaderBoardCss .quickActions ul.quickActionsBoxes li strong{
      font-size:17px;
      line-height:1.4;
      color:#3800b2;
    }
.LeaderBoardCss .quickActions ul.quickActionsBoxes li span{
  display: block;
  color:red;
  font-size: 12px;
  font-weight:600;
}
.LeaderBoardCss .quickActions ul.quickActionsBoxes li:hover span{color: #1338ff;}
.LeaderBoardCss .improvetypingbox{
      margin:90px 0;
      background:linear-gradient(90deg,#4338f2,#ff3ec9);
      border-radius:35px;
      padding:45px 60px;
      text-align:center;
      position:relative;
      overflow:hidden;
    }
.LeaderBoardCss .improvetypingbox::before{
      content:'';
      position:absolute;
      width:250px;
      height:250px;
      border-radius:50%;
      background:rgba(255,255,255,0.08);
      top:-70px;
      right:40px;
    }
.LeaderBoardCss .improvetypingbox h2{
      color:#fff;
      font-size: 28px;
      font-weight: 700;
      margin-bottom:10px;
    }
.LeaderBoardCss .improvetypingbox p{
  color:#fff;
  font-size: 16px;
  margin-bottom:45px;
}
.LeaderBoardCss .improvetypingbox ul {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.LeaderBoardCss .improvetypingbox ul li {
  width: calc(100% / 2 - 25px);
  font-size: 18px;
  font-weight: 700;
}
.LeaderBoardCss .improvetypingbox ul li:nth-of-type(1) a {
  background-color: #fff;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  display: block;
  border: 1px solid #fff;
  color: #3800b2;
}
.LeaderBoardCss .improvetypingbox ul li:nth-of-type(2) a {
  border: 1px solid #cfcfcf;
  padding: 15px;
  display: block;
  width: 100%;
  background-color: #282e3778;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}
.LeaderBoardCss .improvetypingbox ul li:nth-of-type(1) a i,
.LeaderBoardCss .improvetypingbox ul li:nth-of-type(2) a i {
  margin-right: 8px;
}


    @media(max-width:1199.9px){
      .LeaderBoardCss .quickActions ul.quickActionsBoxes li {
        width: calc(100% / 3 - 20px);
      }
    }
    @media(max-width:991.9px){

      

    }

    @media(max-width:767.9px){
      .LeaderBoardCss .premiumFeatures .premiumFeaturesContent {
        width: 100%;
      }
      .LeaderBoardCss .quickActions ul.quickActionsBoxes li {
        width: calc(100% / 2 - 20px);
      }
    }
    @media(max-width:575.9px){
      .LeaderBoardCss .premiumFeatures .premiumFeaturesContent {
        width: 100%;
      }
    }
    @media(max-width:450.9px){
      .LeaderBoardCss .welcomecard {
        padding: 30px;
      }
      .LeaderBoardCss .welcomecard .welcomecardTop {
        flex-wrap: wrap;
        text-align: center;
      }
      .LeaderBoardCss .welcomecard .welcomecardTop span {margin: auto;}
      .LeaderBoardCss .welcomecard .welcomecardTop .UserName {width: 100%; }
      .LeaderBoardCss .welcomecard .welcomecardTop .UserName h2{font-size: 20px; }
      .LeaderBoardCss .welcomecard ul.userStatusBoard {
        flex-wrap: wrap;
        gap: 25px;
      }
      .LeaderBoardCss .welcomecard ul.userStatusBoard li {width: 100%;}
      .LeaderBoardCss .quickActions ul.quickActionsBoxes li {
        width: calc(100% / 2 - 20px);
        padding: 20px;
      }
      .LeaderBoardCss .quickActions ul.quickActionsBoxes li small {
        height: 40px;
        width: 40px;
        padding: 4px;
        font-size: 20px;
        border-radius: 8px;
      }
      .LeaderBoardCss .quickActions ul.quickActionsBoxes li strong {font-size: 15px;}

    }