.mainLoginPageCss {
    position: relative;
    margin-top: 80px;
}
.mainLoginPageCss .mainLoginFormCss {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.mainLoginPageCss .mainLoginFormCss form {
    max-width: 450px;
    width: 100%;
    background-color: #171F33;
    padding: 35px 25px;
    border-radius: 10px;
    overflow: hidden;
    border-top: 4px solid #ccc;
    border-image: linear-gradient(to right, #00E38B, #D0BCFF, #FFB95F) 1;
}
.mainLoginPageCss .mainLoginFormCss form h1 {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #dae2fd;
}
.mainLoginPageCss .mainLoginFormCss form p {
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #cfcfcf;
}
.mainLoginPageCss .mainLoginFormCss form .loginFormGroup {
    margin-top: 16px;
}
.mainLoginPageCss .mainLoginFormCss form .loginFormGroup label {
    display: block;
    font-size: 13px;
    color: #cfcfcf;
    letter-spacing: 0.8px;
    margin-bottom: 3px;
}
.mainLoginPageCss .mainLoginFormCss form .loginFormGroup span {
    display: flex;
    align-items: center;
    background: #060E20;
    border: 1px solid #3B4A3F;
    border-radius: 6px;
}
.mainLoginPageCss .mainLoginFormCss form .loginFormGroup span i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cfcfcf;
    height: 46px;
    width: 46px;
    font-size: 16px;
}
.mainLoginPageCss .mainLoginFormCss form .loginFormGroup span input {
    height: 46px;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
.mainLoginPageCss .mainLoginFormCss form .loginFormChecklist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.mainLoginPageCss .mainLoginFormCss form .loginFormChecklist span {
    display: flex;
    gap: 5px;
    font-size: 12px;
    color: #cfcfcf;
}
.mainLoginPageCss .mainLoginFormCss form .loginFormChecklist a {
    font-size: 12px;
    color: #00E38B;
}
.mainLoginPageCss .mainLoginFormCss form .loginFormButtonCss button {
    background-color: #00c07a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
    &:hover {
        color: #fff;
    }
}